parameters:
    ignoreErrors:
        - '#Property Keboola\\DbImportTest\\Snowflake\\ImportTest::\$connection \(Keboola\\Db\\Import\\Snowflake\\Connection\) does not accept null.#'
includes:
    - phpstan-baseline-php-version.neon.php
